################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotnetcoreWinSvc/.vs
/DotnetcoreWinSvc/DotnetcoreWinSvc/obj
/DotnetcoreWinSvc/DotnetcoreWinSvc/bin
/.vs
/KeyFileGenerationAndRotationNLB/.vs
/KeyFileGenerationAndRotationNLB/ConsoleApp1/bin
/KeyFileGenerationAndRotationNLB/ConsoleApp1/obj
