################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotnetcoreWinSvc/.vs
/DotnetcoreWinSvc/DotnetcoreWinSvc/obj
/DotnetcoreWinSvc/DotnetcoreWinSvc/bin
